<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/logo_bsale_web_naranjo_256x256.svg"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <script defer type="module" src="../pages/login/main.js"></script>
    <!-- <script defer type="module" src="/login.js"></script> -->
  </head>

  <body>
    <div id="menu" class="bs-menu"></div>
    <div id="content" class="bs-content"></div>
  </body>
</html>
